<template name="webapplications">
	<div class="container">
	    <div class="jumbotron">
	        <h1>Sorting Algorithms</h1>
	        <p>These algorithms were all built and animated with MeteorJS and canvas. The algorithms can only sort integers at this time. Currently the algorithms are being developed to handle generics.</p>
	        <a href="https://github.com/captainbeverage" class="btn btn-default">Check out the code on GitHub</a>
	    </div>
	</div>

	<div class="container">
	    <div class="row">
	        <div class="col-md-4 text-center">
	            <h3>QuickSort</h3>
	            <img class="myImages" src="/img/QuickSort.png">
	            <p></p>
	        </div>
	        <div class="col-md-4 text-center">
	            <h3>Insertion Sort</h3>
	            <img class="myImages" src="/img/InsertionSort.png">
	            <p></p>
	        </div>
	        <div class="col-md-4 text-center">
	            <h3>Radix Sort</h3>
	            <img class="myImages" src="/img/RadixSort.jpg">
	            <p></p>
	        </div>
	    </div>

	    <div class="row">
	        <div class="col-md-4 text-center">
	            <a href="{{pathFor 'quicksort'}}" class="btn btn-default">View Simulation</a>
	        </div>
	        <div class="col-md-4 text-center">
	            <a href="{{pathFor 'insertionsort'}}" class="btn btn-default">View Simulation</a>
	        </div>
	        <div class="col-md-4 text-center">
	            <a href="#" class="btn btn-default">View Simulation</a>
	        </div>
	    </div>
	</div>
</template>