<template name="experience">
	<div class="jumbotron" id="section">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h2>Banking Officer - BB&T</h2>
				</div>
				<div class="col-md-3">
					<p></p>
					<p>Feb 2011 - Aug 2014</p>
				</div>
			</div>
			<p>Credit Analysis and Business Technology</p>
			<br>
			<p><u>Quality Assurance Team Lead</u></p>
			<ul>
				<li>Designed, evaluated, and updated quality assurance processes and standards for
commercial credit analysis</li>
				<li>Managed team of 6 analysts to implement quality assurance processes and standards</li>
				<li>Directly improved Bank’s commercial loan portfolio through creation and implementation of
data integrity checklists, quality metrics, and feedback reports</li>
				<li>Created frameworks for evaluation and automated processes using pivot tables and macro automation with VBA</li>
				<li>Evaluated and presented quality metrics to executive management</li>
				<li>Created volume and staffing forecasting models</li>
			</ul>
			<p><u>QA/UAT Application Test Analyst</u></p>
			<ul>
				<li>Wrote and executed test plans, as well as provided adhoc testing for feature updates and internal app releases</li>
				<li>Utilized SharePoint for communicating system design requirements</li>
				<li>Logged bugs and worked with programmer team lead to solve technical issues</li>
				<li>Consulted with lines of business to ensure UI and functionality met client needs</li>
				<li>Wrote feature/app guides for user support</li>
			</ul>
			<p><u>Quality Assurance Analyst</u></p>
			<ul>
				<li>Evaluated peer work for critical errors, and provided mentoring for improved understanding
of credit analysis</li>
				<li>Headed up the integration of Sales-Finance spreading analysis – designed spreading and
QA process</li>
			</ul>
			<p><u>Credit Analyst</u></p>
			<ul>
				<li>Performed financial analysis of >7,500 commercial clients using Moody’s Risk Analyst, Combined Cash Flow Analysis, and Personal Cash Flow Analysis</li>
				<li>Conducted industry research and created business financial projections</li>
				<li>Performed regional monthly desk review audits of current risk grades, which were integral
for producing accurate loan loss reserves for the corporation</li>
				<li>Audited commercial loan purpose codes quarterly for FDIC reporting</li>
			</ul>
		</div>
    </div>
</template>