<template name="home">
	<div class="container">
	    <div class="jumbotron">
	    	<div class="row">
	    		<div class="col-md-8">
	    		<h1>Welcome!</h1>
		        	<p>I'm Jordan Harris - a programmer who's passionate about building meaningful software, and I'm dedicated to honing the art and skill of programming. This website showcases my portfolio of software development projects. Take a look at my projects, skills, and experience, and feel free to contact me for any feedback, software development requests, or employment opportunities.</p>
		        </div>
		        <div class="col-md-4">
		        	<br>
		        	<br>
		        	<img class="myImages" id="profilePic" src="/img/ProfilePic.png">
		        </div>
	    	</div>
	    	<p></p>
	        <a href="https://github.com/captainbeverage" class="btn btn-default">Check out my various projects on GitHub</a>
	    </div>
	</div>
</template>