<template name="skills">
	<div class="jumbotron" id="section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Programming Languages</h3>
			        <ul>
			        	<li>Java</li>
			        	<li>C++</li>
			        	<li>JavaScript</li>
			        	<li>Ruby</li>
			        	<li>SQL</li>
			        </ul>
			        <p></p>
			        <h3>JavaScript Frameworks</h3>
			        <ul>
			        	<li>MeteorJS</li>
			        	<li>AngularJS</li>
			        	<li>NodeJS</li>
			        </ul>
				</div>
				<div class="col-md-4">
					<h3>Web Development</h3>
					<ul>
			        	<li>HTML5</li>
			        	<li>CSS</li>
			        	<li>JQuery</li>
			        	<li>Bootstrap</li>
			        	<li>Canvas</li>
			        </ul>
			        <p></p>
			        <h3>Version Control</h3>
			        <ul>
			        	<li>Git</li>
			        </ul>
				</div>
				<div class="col-md-4">
					<h3>Task Runners and Scaffolding</h3>
					<ul>
			        	<li>Grunt</li>
			        	<li>Yeoman</li>
			        </ul>
					<br>
			        <h3>IDE's</h3>
			        <ul>
			        	<li>Eclipse</li>
			        	<li>IntelliJ</li>
			        	<li>WebStorm</li>
			        	<li>Visual Studio</li>
			        	<li>Text Editors</li>
			        		<ul>
			        			<li>Sublime</li>
			        			<li>Atom</li>
			        		</ul>
			        </ul>
				</div>
			</div>
		</div>
    </div>
</template>